* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

button {
  width: 80px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
}

.container {
  border: 1px solid #ccc;
  width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#result-display {
  border: 1px solid #ccc;
  width: 250px;
  height: 50px;
  font-size: 30px;
  align-content: center;
  text-align: center;
}
